<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>
<hr />
<app-coma (myListChange)="ShowNumBerChange($event)"></app-coma>
<hr />
<app-comb [results]="orderno"></app-comb>
<hr />
<button (click)="setDataB()">Set Data OnB From App.Component</button>

<app-out-select
  [apiPathInput]="'th/department/All/1'"
  [dataInit]="''"
  [ModelName]="'department'"
  (myListChange)="B2ShowNumBerChange($event)"
></app-out-select>

<app-out-select
  [apiPathInput]="'th/category/All/1'"
  [results]="orderno"
  [ModelName]="'category'"
  (myListChange)="B3ShowNumBerChange($event)"
></app-out-select>

<app-out-select
  [apiPathInput]="'th/groupItem/All/1'"
  [results]="orderno2"
  [ModelName]="'groupItem'"
  (myListChange)="B3ShowNumBerChange($event)"
></app-out-select>
