<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>
<hr />
<app-coma (myListChange)="ShowNumBerChange($event)"></app-coma>
<hr />
<app-comb [results]="orderno"></app-comb>
<hr />
<button (click)="setDataB()">Set Data OnB From App.Component</button>

<app-out-select
  [Title]="'แผนกสินค้า'"
  [apiPathInput]="'th/department/All/1'"
  [dataInit]="''"
  [ModelName]="'department'"
  (myListChange)="B2ShowNumBerChange($event)"
></app-out-select>

<app-out-select
  [Title]="'หมวดสินค้า'"
  [apiPathInput]="'th/category/All/1'"
  [results]="orderno"
  [ModelName]="'category'"
  (myListChange)="B3ShowNumBerChange($event)"
></app-out-select>
Children
<app-out-select
  [Title]="'กลุ่มสินค้า'"
  [apiPathInput]="'th/groupItem/All/1'"
  [results]="orderno2"
  [ModelName]="'groupItem'"
  (myListChange)="B3ShowNumBerChange($event)"
></app-out-select>

<hr />
Test Directove
<input type="text" appPhttp [apiPath99] = "'th/category/All/1'"  (appHttpOut)="setResultDirective($event)" />
{{ resultDirective | json }}


<!-- <hello hello hi (greet)="onGreet($event)" [name]="name"></hello> -->